

.arts-home{
    display: flex;
    padding: 1rem;
    overflow-y: scroll;
    margin-bottom: 40px;
    background-color:#f1f1fb;
}

.arts-home > .navbar{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 95%;
    border-radius: 1rem;
    background-color: white;
    position: fixed;
    bottom: 0;
    justify-items: center;
    align-content: center;
    padding-bottom: 10px;
}

.arts-home > .navbar > a{
    font-size: large;
    text-decoration: none;
    color: black;
    padding: .5rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    transition: 0.3;
}

.arts-home > .navbar > a:hover{
   border-bottom: 3px solid rgba(105, 87, 232, 0.56);
}

.clicked{
    color: black !important;
    background-color: white !important;
    border-bottom: 3px solid #6957e8;
}

.arts-details h1{
    text-transform: uppercase;
    font-size: 50px;
    padding: 2rem;
}

.arts-details p{
    text-transform: uppercase;
    font-size: 20px;
    padding: 0rem 2rem;
}

.arts-details{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    padding-top: 4rem;
    width: 100%;
    gap: 2rem;
}

.static-details{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    align-items: center;
    padding-top: 1rem;
}

.arts-details .static-details > div{
    flex: 1;
}
.arts-details .static-details .time-days{
    display: flex;
    gap: 1rem;
    justify-content: center;
}
.time-days > div{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-radius: 25px;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.house-names{
    margin-top: 50px;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 30px;
}

.house-names > div {
    border: 2px solid #707070;
    padding : 20px;
    border-radius: 15px;
    text-transform: capitalize;
}
.arts-score{
    padding: 2rem 5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow-y: scroll;
}
.arts-score > table{
    width: 100%;
    border-collapse: collapse;
}

.arts-score table td , .arts-score > table th{
    border: 1px solid #ddd;
    padding: 15px;
} 

.arts-score > table tr:nth-child(even){
    background-color: #f2f2f2;
}
.arts-score > table tr:hover{
    background-color: #ddd;
}
.arts-score > table th{
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: left;
    background-color: #5a46e6;
    color: #ffffff;
}
