*{
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar{
    display: none;
}

.user-registration h1{
    margin-top: 50px;
    width: 100%;
    text-align: center;
    font-size: 40px;
}

.user-registration label{
    padding-left: 5px;
    font-size: larger;
}


.user-registration-form{

    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    width: 350px;
    margin: 0 auto;
    margin-top: 40px;
    padding: 1rem;
}

.user-registration-form > form{
    display: grid;
    gap: 10px;
    
}

.user-submit-button{
    display: flex;
    justify-content: center;
}
.user-submit-button > button{
    width: 120px;
    padding: 10px;
    background-color: #000000;
    color: #FFFFFF;
    border: 3px solid #FFFFFF;
    border-radius: 10px;
    font-size: 15px;
    font-weight: bold;
}
.user-submit-button > button:hover{
    background-color: #FFFFFF;
    color: #282A3A;
    border: 3px solid #000000;
}

.user-name ,
.user-phone,
.user-department,
.user-year,
.user-ad-no,
.user-password{
    display: flex;
    flex-direction: column;
    padding: 0px 20px;
    gap: 2px;
    
}

.user-registration-form input{
    width: 300px;
    height: 30px;
    border-radius: 5px;
    color: #000000;
    align-self: center;
    padding: 0px 10px;
}
.user-registration-form input:focus{
    outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}

.user-registration > .error {
    width: 100%;
    text-align: center;
}