.scheduler > h2{
    text-align: center;
    margin: 20px 0px;
}

.scheduler{
    margin-top: 1rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    padding: 2rem;
}

.scheduled-card{
    display: flex;
    gap: .5rem;
    flex-direction: column;
}

.scheduled-card > table, .scheduled-card > table > tr > td,.scheduled-card > table > tr > th{
    border: .5px solid rgba(0, 0, 0, 0.332);
    
}

.scheduled-card > table > tr > th{
    font-weight: bold;
    font-size: 1.5rem;
}

.scheduled-card > table > tr > td{
    font-size: larger;
    font-weight: 500;
    padding: .5rem;
    transition: .3s;
}

.scheduled-card > table > tr > .program:hover,.scheduled-card > table > tr > .finish:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}

.finish, .time{
    text-align: center;
}

.scheduled-card > table > tr > .name:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}

.wrapper{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.529);
}

.info-card{
    background-color: white;
    padding: 20px;
    width: 280px;
    border-radius: 10px;
}
.info-card h1{
    text-transform: capitalize;
    text-align: center;
    border-bottom: 4px solid #808080;
    padding-bottom: 10px;
    border-radius: 15px;
}

.info-card > div{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px;
}
.info-card span{
    font-weight: bolder;
    text-transform: capitalize;
}







