.admin-home{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
}

.admin-home > .admin-body{
    display: grid;
    grid-template-columns: 1fr;
    grid-row: 2 / 3;
    overflow-y: scroll;
}

.admin-home > .admin-body::-webkit-scrollbar{
    background-color: black;
    width: 200px;
}