@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap');

.admin-login{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: url("../../../images/loginbg.png");
    /* object-fit: cover; */
}

.admin-login > .title{
    margin: 2rem;
    margin-top: 10rem;
    font-size: 3rem;
}

.admin-login > .contents{
    position: fixed;
    top: 50px;
    right: 260px;
}


.admin-login > .contents >  form{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: 5px;
    gap: 10px;
    background-color: rgba(0, 0, 0, 0);
}

.admin-login > .contents > form > .username-div, .admin-login > .contents > form > .password-div{
    display: flex;
    flex-direction: column;
}

.admin-login > .contents > form >  .username-div> label, .admin-login > .contents > form > .password-div > label{
    font-size: 1rem;
    font-weight:bold;
    text-transform: capitalize;
    font-family: 'Roboto Mono', monospace;
    
}
.admin-login > .contents > form input[type="text"], .admin-login > .contents > form input[type="password"]{
    padding: .3rem;
    min-width: 20vw;
    font-size: 1.2rem;
    border:none;
    background-color: rgba(0,0,0,0);
    border-bottom:2px solid #D0CBF8;

}
.admin-login > .contents > form input[type="text"]:focus, .admin-login > .contents > form input[type="password"]:focus{
    outline: none;
    border-bottom:2px solid#6957e8 ;
}

.admin-login > .contents > form input[type="submit"]{
    width: fit-content;
    padding: .3rem .5rem;
    margin: 0 auto;
    font-size: 1rem;
    border-radius: 3px;
    font-weight: 400;
    color: white;
    background-color: #6957e8;
    margin-top: .5rem;
    cursor: pointer;
    transition: .4s;
    border: 2px solid #6957e8;
    font-family: sans-serif;
}

.admin-login > .contents > form input[type="submit"]:hover{
    background-color: #6957e8;
    color: black; 
}

.admin-login > .error{
    color: red;
    margin: .6rem;
}


    